<!DOCTYPE html>
<html>
    <head>
        <title>Weather</title>
        <link rel="icon" href="./images/weather.png">
        <link rel="stylesheet" href="./css/styles.css">
    </head>
    <body>
        <div class="main-content">
               {{>header}}
               <p>This site is created by Gopi Krishna. It uses data from mapbox.com and openweathermap.org</p>
        <img class="potrait"src ="./images/profile.jpg" />
        </div>

      {{>footer}}
    </body>
</html>